@charset "UTF-8";


html {
  scroll-padding-top: 4.5rem;
}

body {
  position: relative;
}

@media (min-width: 768px) {
  section {
    padding: 9rem 0;
  }
}


#mainNav {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #fff;
}

#mainNav .navbar-toggler {
  padding: 0.75rem;
  font-size: 0.75rem;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  text-transform: uppercase;
  font-weight: 700;
}

#mainNav .navbar-brand {
  color: #ffc800;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  letter-spacing: 0.0625em;
  text-transform: uppercase;
}

#mainNav .navbar-brand img {
  height: 1.5rem;
}

#mainNav .navbar-nav .nav-item .nav-link {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 0.95rem;
  color: #fff;
  letter-spacing: 0.0625em;
}

#mainNav .navbar-nav .nav-item .nav-link.active,
#mainNav .navbar-nav .nav-item .nav-link:hover {
  color: #F1CF69;
  ;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border: none;
    background-color: white;
    transition: padding-top 0.3s ease-in-out, padding-bottom 0.3s ease-in-out;
  }

  #mainNav .navbar-brand {
    font-size: 1.5em;
    transition: font-size 0.3s ease-in-out;
  }

  #mainNav .navbar-brand img {
    height: 2rem;
    transition: height 0.3s ease-in-out;
  }

  #mainNav.navbar-shrink {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #212529;
  }

  #mainNav.navbar-shrink .navbar-brand {
    font-size: 1.25em;
  }

  #mainNav.navbar-shrink .navbar-brand svg,
  #mainNav.navbar-shrink .navbar-brand img {
    height: 1.5rem;
  }

  #mainNav .navbar-nav .nav-item {
    margin-right: 1rem;
  }

  #mainNav .navbar-nav .nav-item:last-child {
    margin-right: 0;
  }
}

header.masthead {
  padding-top: 10.5rem;
  padding-bottom: 6rem;
  text-align: center;
  color: #fff;
  background-image: url("../images/plante.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}

header.masthead .masthead-subheading {
  font-size: 1.5rem;
  font-style: italic;
  line-height: 1.5rem;
  margin-bottom: 25px;
  font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

header.masthead .masthead-heading {
  font-size: 3.25rem;
  font-weight: 700;
  line-height: 3.25rem;
  margin-bottom: 2rem;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@media (min-width: 768px) {
  header.masthead {
    padding-top: 17rem;
    padding-bottom: 12.5rem;
  }

  header.masthead .masthead-subheading {
    font-size: 2.25rem;
    font-style: italic;
    line-height: 2.25rem;
    margin-bottom: 2rem;
  }

  header.masthead .masthead-heading {
    font-size: 4.5rem;
    font-weight: 700;
    line-height: 4.5rem;
    margin-bottom: 4rem;
  }
}



#page-top .nav-item .nav-link {
  color: #FFFFFF;
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 17px;
  text-align: center;
}



.image-contain {
  position: relative;
  width: 100%;
  max-width: 100%;
}

.image-contain img {
  height: 563px;
  width: 100%;
  display: block;
}

.image-contain .map-overlay svg {
  position: absolute;
  top: 0;
  right: 0;
  height: 562px;
  width: 635px;
  background-color: rgba(55, 108, 87, 0.49);
}

.map-overlay path {
  fill: #8fccb4;
  stroke: #FFFFFF;
  stroke-width: 0.5px;
}

.map-overlay path:hover {

  fill: #446A5B;

}


.tooltiip {
  position: absolute;
  background-color: #F1CF69;
  color: #FFFFFF;
  padding: 5px;
  display: none;
  z-index: 1000;
  text-align: center;
  top: 20px;
  left: 20px;
  width: 178px;
  border-radius: 6px 6px 6px 6px;
}




.left-sidebar .media {
  height: 41px;
  background-color: #446A5B;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.18);
  color: white;
  grid-column: 1;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;

}


.left-sidebar {
  background-color: #95ABA2;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.52);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;

}

.vid {
  height: 16px;
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 16px;
  text-align: center;
  margin: 16px 21px 16px 20px;
}

.left-sidebar img {
  box-shadow: 3px 5px 9px 0 rgba(0, 0, 0, 0.5);

}

.left-sidebar .infographie {

  height: 16px;
  width: 143px;
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 16px;
  margin: 44px 79px 6px 21px;
}

.left-sidebar .shema {
  height: 13px;
  width: 238px;
  opacity: 0.6;
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  letter-spacing: 0;
  line-height: 11.76px;
  margin-left: 21px;
  margin-bottom: 14px;
  text-align: justify;
}

.left-sidebar .image-side img {
  height: 70px;
  width: 80px;
  display: inline;
  margin-bottom: 32px;
}


.left-sidebar ul {
  list-style: none;
  padding: 0;
}

.pdf {
  display: block;
}

.left-sidebar ul .pdf {
  padding-top: 19px;
}

.left-sidebar ul div a {
  text-decoration: none;
}

.left-sidebar ul div a:hover {
  color: #F1CF69;
}

.left-sidebar ul .kit {
  height: 50px;
  background-color: #446A5B;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.18);
  padding-top: 18px;
  padding-left: 5px;
}

.left-sidebar ul .kit a {
  height: 17px;
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  font-size: 14.4px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 17px;
  grid-column: 1;
}

.left-sidebar ul .pdf {
  height: 50px;
  background-color: #6A8D7F;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.18);
  text-align: center;

}

.left-sidebar ul a {
  height: 14px;
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 14px;
  text-align: center;
}


.title-with-line {
  position: relative;
}

.title-with-line::after {
  content: "";
  display: block;
  height: 8px;
  width: 42px;
  border-radius: 40px;
  background-color: #F1CF69;
  position: absolute;
  top: -15px;
  /* Ajustez selon votre préférence */
  left: 0;
}

.box {
  background-color: #f0f0f0;
  /* Couleur de fond */
  padding: 50px;
  /* Espacement interne */
  margin: 0;
  /* Espace entre les boîtes */
  text-align: center;
  /* Centrer le texte */
  box-sizing: border-box;
  height: 100px;
  border: 1px solid #EEEEEE;
  background-color: #4A8B71;
  color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 19px;
  text-align: center;
}

.title {
  color: #31475E;
  font-family: 'Open Sans', sans-serif;
  font-size: 26px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 32px;
}

.subtitle {
  color: #4A8B71;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 32px;
}

.para {
  color: #6A7C92;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 25px;
  text-align: justify;
}


@media (max-width: 991.98px) {
  .navbar-dark .navbar-nav .nav-link {
    color: white !important;
    /* Changer la couleur du texte en blanc */
  }
}